#quiz-field {
    display: none;
}

#high-score-field {
    display: none;
}

#high-score-list {
    display: none;
}

.answer {
    max-width: 400px;
}

li {
    cursor: pointer;
}

.answer:hover {
    background-color: purple;
    color: white;
}

#highscore-display-button {
    display: block;
    max-width: 150px;
}

#highscore-display-button:hover {
    background-color: lightblue;
    color: white;
    cursor: pointer;
}