#quiz-field {
    display: none;
}

.answer {
    max-width: 400px;
}

li {
    cursor: pointer;
}

.answer:hover {
    background-color: purple;
    color: white;
}

#highscore-button {
    display: block;
    max-width: 150px;
}

#highscore-button:hover {
    background-color: lightblue;
    color: white;
    cursor: pointer;
}